In [1]:
import pandas as pd
file = "hacks.csv"
hn = pd.read_csv(file)
hn.head()

,id,title,url,num_points,num_comments,author,created_at
0,12224879,Interactive Dynamic Video,http://www.interactivedynamicvideo.com/,386,52,ne0phyte,8/4/2016 11:52
1,10975351,How to Use Open Source and Shut the Fuck Up at...,http://hueniverse.com/2016/01/26/how-to-use-op...,39,10,josep2,1/26/2016 19:30
2,11964716,Florida DJs May Face Felony for April Fools' W...,http://www.thewire.com/entertainment/2013/04/f...,2,1,vezycash,6/23/2016 22:20
3,11919867,Technology ventures: From Idea to Enterprise,https://www.amazon.com/Technology-Ventures-Ent...,3,1,hswarna,6/17/2016 0:01
4,10301696,Note by Note: The Making of Steinway L1037 (2007),http://www.nytimes.com/2007/11/07/movies/07ste...,8,2,walterbell,9/30/2015 4:12

In [2]:
hn["title"].head(50)

0                             Interactive Dynamic Video
1     How to Use Open Source and Shut the Fuck Up at...
2     Florida DJs May Face Felony for April Fools' W...
3          Technology ventures: From Idea to Enterprise
4     Note by Note: The Making of Steinway L1037 (2007)
5     Title II kills investment? Comcast and other I...
6                        Nuts and Bolts Business Advice
7           Ask HN: How to improve my personal website?
8     Shims, Jigs and Other Woodworking Concepts to ...
9                                That self-appendectomy
10    Crate raises $4M seed round for its next-gen S...
11    Advertising Cannot Maintain the Internet. Here...
12                                       Coding Is Over
13    Show HN: Wio Link  ESP8266 Based Web of Things...
14               Custom Deleters for C++ Smart Pointers
15           How often to update third party libraries?
16                     Review my AI based marketing bot
17    Ask HN: Am I the only one outraged by Twitter ...
18       Ten years later, did Boston's Big Dig deliver?
19            Valid.ly  Never send another OOPS message
20                  APOD: LIGO detects gravity waves...
21    Typeplate: a typographic starter kit encouragi...
22    Ask HN: Aby recent changes to CSS that broke m...
23    Streamroot makes video streaming cheaper thank...
24    VMware Confirms Layoffs as It Prepares for Del...
25    Firmware exploit can defeat new Windows securi...
26             The Sad State of Personal Knowledgebases
27                             US Robotics Network Taps
28                  Fundraising Advice for YC Companies
29    PSA: Intel WICS broken for years with official...
30      Ask HN: Looking for Employee #3 How do I do it?
31    Ask HN: Someone offered to buy my browser exte...
32    Small Indiana county sends more people to pris...
33                                 Real-time GIF images
34    Charles River Ventures Puts F*CK Trump on Thei...
35                     The reverse job applicant (2010)
36    Bitbucket: Support GitHub-style pages for repo...
37                             Estonia's Tech-Savviness
38    'The details of your involvement will be grues...
39                  Show HN: Something pointless I made
40           Self-Driving Ubers Appear in San Francisco
41     Maru turns Android smartphones into portable PCs
42                Text of the Trans-Pacific Partnership
43    Apply HN: CreatorsNest  On-Demand, Private Wor...
44    Researchers have trained a machine to spot dep...
45    A Cars Computer Can Fingerprint You in Minutes...
46    Show HN: Shanhu.io, a programming playground p...
47                                     The Path to Rust
48            Bitcoin Is Back, But It Never Really Left
49    Ask HN: Limiting CPU, memory, and I/O usage on...
Name: title, dtype: object

In [3]:
hn.columns

Index(['id', 'title', 'url', 'num_points', 'num_comments', 'author',
       'created_at'],
      dtype='object')

In [4]:
"ASK HN"
"Ask HN"
"ask hn"

'ask hn'

In [5]:
ask_bol = hn["title"].str.lower().str.startswith("ask hn")

In [6]:
ask_bol

0        False
1        False
2        False
3        False
4        False
         ...
20095    False
20096    False
20097    False
20098    False
20099    False
Name: title, Length: 20100, dtype: bool

In [7]:
ask_posts  = hn[ask_bol]
ask_posts

,id,title,url,num_points,num_comments,author,created_at
7,12296411,Ask HN: How to improve my personal website?,NaN,2,6,ahmedbaracat,8/16/2016 9:55
17,10610020,Ask HN: Am I the only one outraged by Twitter ...,NaN,28,29,tkfx,11/22/2015 13:43
22,11610310,Ask HN: Aby recent changes to CSS that broke m...,NaN,1,1,polskibus,5/2/2016 10:14
30,12210105,Ask HN: Looking for Employee #3 How do I do it?,NaN,1,3,sph130,8/2/2016 14:20
31,10394168,Ask HN: Someone offered to buy my browser exte...,NaN,28,17,roykolak,10/15/2015 16:38
...,...,...,...,...,...,...,...
20039,10994357,Ask HN: Is it feasible to port Apple's Swift t...,NaN,3,17,schappim,1/29/2016 9:42
20042,12241954,Ask HN: What to do when a developer goes dark?,NaN,3,3,bittysdad,8/7/2016 12:58
20045,12029526,Ask HN: Killer app for AR?,NaN,2,2,davidiach,7/4/2016 8:50
20048,11227969,Ask HN: How do you balance a serious relations...,NaN,10,4,audace,3/5/2016 1:25
20061,11743946,Ask HN: Why are papers still published as PDFs?,NaN,4,2,adius,5/21/2016 9:22

In [8]:
show_bol = hn["title"].str.lower().str.startswith("show hn")

In [9]:
show_bol

0        False
1        False
2        False
3        False
4        False
         ...
20095    False
20096    False
20097    False
20098    False
20099    False
Name: title, Length: 20100, dtype: bool

In [10]:
show_posts = hn[show_bol]
show_posts

,id,title,url,num_points,num_comments,author,created_at
13,10627194,Show HN: Wio Link ESP8266 Based Web of Things...,https://iot.seeed.cc,26,22,kfihihc,11/25/2015 14:03
39,10646440,Show HN: Something pointless I made,http://dn.ht/picklecat/,747,102,dhotson,11/29/2015 22:46
46,11590768,"Show HN: Shanhu.io, a programming playground p...",https://shanhu.io,1,1,h8liu,4/28/2016 18:05
84,12178806,Show HN: Webscope Easy way for web developers...,http://webscopeapp.com,3,3,fastbrick,7/28/2016 7:11
97,10872799,Show HN: GeoScreenshot Easily test Geo-IP bas...,https://www.geoscreenshot.com/,1,9,kpsychwave,1/9/2016 20:45
...,...,...,...,...,...,...,...
19993,11222099,Show HN: Geocoding API built with government o...,https://latlon.io,6,6,evanmarks,3/4/2016 4:50
19999,11735438,Show HN: Decorating: Animated pulsed for your ...,https://github.com/ryukinix/decorating,3,1,lerax,5/20/2016 3:48
20014,10200913,Show HN: Idea to startup,https://ideatostartup.org,14,17,nikhildaga,9/10/2015 22:17
20065,11444393,"Show HN: PhantomJsCloud, Headless Browser SaaS",https://PhantomJsCloud.com,2,1,novaleaf,4/7/2016 3:04
20070,12149183,Show HN: Parse recipe ingredients using JavaSc...,https://github.com/herkyl/ingredients-parser,6,2,zongitsrinzler,7/23/2016 11:35

In [11]:
show_posts["num_comments"].mean()

10.31669535283993

In [12]:
ask_posts["num_comments"].mean()

14.038417431192661

In [13]:
ask_posts.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1744 entries, 7 to 20061
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1744 non-null   int64
 1   title         1744 non-null   object
 2   url           7 non-null      object
 3   num_points    1744 non-null   int64
 4   num_comments  1744 non-null   int64
 5   author        1744 non-null   object
 6   created_at    1744 non-null   object
dtypes: int64(3), object(4)
memory usage: 109.0+ KB

In [14]:
ask_posts["created_at"] = pd.to_datetime(ask_posts["created_at"]).copy()

C:\Users\USER\AppData\Local\Temp\ipykernel_8912\2472244110.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ask_posts["created_at"] = pd.to_datetime(ask_posts["created_at"]).copy()

In [15]:
ask_posts["created_at"]

7       2016-08-16 09:55:00
17      2015-11-22 13:43:00
22      2016-05-02 10:14:00
30      2016-08-02 14:20:00
31      2015-10-15 16:38:00
                ...
20039   2016-01-29 09:42:00
20042   2016-08-07 12:58:00
20045   2016-07-04 08:50:00
20048   2016-03-05 01:25:00
20061   2016-05-21 09:22:00
Name: created_at, Length: 1744, dtype: datetime64[ns]

In [16]:
ask_posts["created_at"].dt.hour

7         9
17       13
22       10
30       14
31       16
         ..
20039     9
20042    12
20045     8
20048     1
20061     9
Name: created_at, Length: 1744, dtype: int32

In [17]:
ask_posts["hour"] = ask_posts["created_at"].dt.hour

C:\Users\USER\AppData\Local\Temp\ipykernel_8912\1856746366.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ask_posts["hour"] = ask_posts["created_at"].dt.hour

In [18]:
ask_posts

,id,title,url,num_points,num_comments,author,created_at,hour
7,12296411,Ask HN: How to improve my personal website?,NaN,2,6,ahmedbaracat,2016-08-16 09:55:00,9
17,10610020,Ask HN: Am I the only one outraged by Twitter ...,NaN,28,29,tkfx,2015-11-22 13:43:00,13
22,11610310,Ask HN: Aby recent changes to CSS that broke m...,NaN,1,1,polskibus,2016-05-02 10:14:00,10
30,12210105,Ask HN: Looking for Employee #3 How do I do it?,NaN,1,3,sph130,2016-08-02 14:20:00,14
31,10394168,Ask HN: Someone offered to buy my browser exte...,NaN,28,17,roykolak,2015-10-15 16:38:00,16
...,...,...,...,...,...,...,...,...
20039,10994357,Ask HN: Is it feasible to port Apple's Swift t...,NaN,3,17,schappim,2016-01-29 09:42:00,9
20042,12241954,Ask HN: What to do when a developer goes dark?,NaN,3,3,bittysdad,2016-08-07 12:58:00,12
20045,12029526,Ask HN: Killer app for AR?,NaN,2,2,davidiach,2016-07-04 08:50:00,8
20048,11227969,Ask HN: How do you balance a serious relations...,NaN,10,4,audace,2016-03-05 01:25:00,1
20061,11743946,Ask HN: Why are papers still published as PDFs?,NaN,4,2,adius,2016-05-21 09:22:00,9

In [19]:
avg_comment  = ask_posts.pivot_table(index="hour",values="num_comments",aggfunc="mean")
avg_comment

      num_comments
hour
0         8.127273
1        11.383333
2        23.810345
3         7.796296
4         7.170213
5        10.086957
6         9.022727
7         7.852941
8        10.250000
9         5.577778
10       13.440678
11       11.051724
12        9.410959
13       14.741176
14       13.233645
15       38.594828
16       16.796296
17       11.460000
18       13.201835
19       10.800000
20       21.525000
21       16.009174
22        6.746479
23        7.985294

In [20]:
avg_comment.sort_values("num_comments",ascending=False)

      num_comments
hour
15       38.594828
2        23.810345
20       21.525000
16       16.796296
21       16.009174
13       14.741176
10       13.440678
14       13.233645
18       13.201835
17       11.460000
1        11.383333
11       11.051724
19       10.800000
8        10.250000
5        10.086957
12        9.410959
6         9.022727
0         8.127273
23        7.985294
7         7.852941
3         7.796296
4         7.170213
22        6.746479
9         5.577778

In [24]:
show_posts["created_at"] = pd.to_datetime(show_posts["created_at"]).copy()

C:\Users\USER\AppData\Local\Temp\ipykernel_8912\682107935.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  show_posts["created_at"] = pd.to_datetime(show_posts["created_at"]).copy()

In [28]:
show_posts["created_at"].dt.hour

13       14
39       22
46       18
84        7
97       20
         ..
19993     4
19999     3
20014    22
20065     3
20070    11
Name: created_at, Length: 1162, dtype: int32

In [29]:
show_posts["hour"] = show_posts["created_at"].dt.hour

C:\Users\USER\AppData\Local\Temp\ipykernel_8912\3099763721.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  show_posts["hour"] = show_posts["created_at"].dt.hour

In [30]:
show_posts

,id,title,url,num_points,num_comments,author,created_at,hour
13,10627194,Show HN: Wio Link ESP8266 Based Web of Things...,https://iot.seeed.cc,26,22,kfihihc,2015-11-25 14:03:00,14
39,10646440,Show HN: Something pointless I made,http://dn.ht/picklecat/,747,102,dhotson,2015-11-29 22:46:00,22
46,11590768,"Show HN: Shanhu.io, a programming playground p...",https://shanhu.io,1,1,h8liu,2016-04-28 18:05:00,18
84,12178806,Show HN: Webscope Easy way for web developers...,http://webscopeapp.com,3,3,fastbrick,2016-07-28 07:11:00,7
97,10872799,Show HN: GeoScreenshot Easily test Geo-IP bas...,https://www.geoscreenshot.com/,1,9,kpsychwave,2016-01-09 20:45:00,20
...,...,...,...,...,...,...,...,...
19993,11222099,Show HN: Geocoding API built with government o...,https://latlon.io,6,6,evanmarks,2016-03-04 04:50:00,4
19999,11735438,Show HN: Decorating: Animated pulsed for your ...,https://github.com/ryukinix/decorating,3,1,lerax,2016-05-20 03:48:00,3
20014,10200913,Show HN: Idea to startup,https://ideatostartup.org,14,17,nikhildaga,2015-09-10 22:17:00,22
20065,11444393,"Show HN: PhantomJsCloud, Headless Browser SaaS",https://PhantomJsCloud.com,2,1,novaleaf,2016-04-07 03:04:00,3
20070,12149183,Show HN: Parse recipe ingredients using JavaSc...,https://github.com/herkyl/ingredients-parser,6,2,zongitsrinzler,2016-07-23 11:35:00,11

In [33]:
avg_comment = show_posts.pivot_table(index="hour",values="num_comments",aggfunc="mean")
avg_comment

      num_comments
hour
0        15.709677
1         8.785714
2         4.233333
3        10.629630
4         9.500000
5         3.052632
6         8.875000
7        11.500000
8         4.852941
9         9.700000
10        8.250000
11       11.159091
12       11.803279
13        9.555556
14       13.441860
15        8.102564
16       11.655914
17        9.795699
18       15.770492
19        9.800000
20       10.200000
21        5.787234
22       12.391304
23       12.416667

In [34]:
avg_comment.sort_values("num_comments",ascending=False)

      num_comments
hour
18       15.770492
0        15.709677
14       13.441860
23       12.416667
22       12.391304
12       11.803279
16       11.655914
7        11.500000
11       11.159091
3        10.629630
20       10.200000
19        9.800000
17        9.795699
9         9.700000
13        9.555556
4         9.500000
6         8.875000
1         8.785714
10        8.250000
15        8.102564
21        5.787234
8         4.852941
2         4.233333
5         3.052632